<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="mapSynq.Lubna.Business.TestNGListeners" />
	</listeners>
	<test name="mapSynqTest">
		<classes>
			<class name="mapSynq.Lubna.TestCases.mapSynqTest"/>
		</classes>
	</test> <!-- TestNG.xml -->
</suite> <!-- Suite -->
